table {
  border-collapse: collapse;
  max-height: 100dvh;
  margin: 4rem auto;
}

input {
  border-radius: 2.5rem;
  padding: 0.5rem;
}

.player-name {
  padding: 1rem;
  margin: 0;
  border-radius: 2.5rem;
}
.selected-player .profile-box {
  box-shadow: inset 0 0 0 4px green;
}
.selected-player .player-name {
  color: aquamarine;
}

.hovered {
  background-color: var(--secondary-color);
  transition: background-color 0.2s ease-in-out;
}

.hovered.last-empty-circle .circle-box {
  background-color: rgba(0, 255, 0, 0.3);
}

.hovered.player1-preview .circle-box {
  background-color: rgba(255, 0, 0, 0.3) !important;
}

.hovered.player2-preview .circle-box {
  background-color: rgba(255, 255, 0, 0.4) !important;
}

td {
  padding: 0.5rem;
  background-color: var(--primary-color);
}

tr:first-child td:first-child{
  border-radius: var(--radius-medium) 0 0 0;
}

tr:first-child td:last-child{
  border-radius: 0 var(--radius-medium) 0 0;
}

tr:last-child td:first-child{
  border-radius: 0 0 0 var(--radius-medium);
}

tr:last-child td:last-child{
  border-radius: 0 0 var(--radius-medium) 0;
}

.player1 {
  background-color: var(--color-player1) !important;
}
.player2 {
  background-color: var(--color-player2) !important;
}

.circle-box {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  box-shadow: inset 0 0 0 2px #000;
  display: inline-block;
  padding: 1rem;
  background-color: white;

}

.fixed-screen {
  position: absolute;
  height: 100dvh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: var(--color-popup-overlay);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  z-index: 100;
  text-align: center;
}

.popup button {
  margin: 1rem 0 1rem 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 2.5rem;
  border: 0;
  padding: 1rem;
}

.player-box {
  gap: 0.5rem;
  display: flex;
  font-family: fantasy;
}

.player-box:last-child {
  flex-direction: row-reverse;
}

.profile-box {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: whitesmoke;
  transition: box-shadow 0.3s ease-in-out;
}

.scoreboard {
  margin-bottom: 1rem;
  font-weight: bold;
  display: flex;
  gap: 2rem;
  padding: 1rem;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
}
